<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="MyClinicalStudyContext"
           connectionString="Data Source=devsql01.eplnet.wan;Initial Catalog=qa_myClinicalStudy_01;Persist Security Info=True;User ID=qamyclinicalstudy01;Password=x4pwqK8Kg3K9;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
 </configuration>