<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>http://QAWEB02.eplnet.wan</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/MyClinicalStudyService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <UserName>eplnet\srandolph</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyClinicalStudyContext" Order="1" Enabled="False">
          <Destination Path="Data Source=devsql01.eplnet.wan;Initial Catalog=qa_myClinicalStudy_01;Persist Security Info=True;User ID=qamyclinicalstudy01;Password=x4pwqK8Kg3K9" Name="Data Source=devsql01.eplnet.wan;Initial Catalog=qa_myClinicalStudy_01;Persist Security Info=True;User ID=qamyclinicalstudy01;Password=x4pwqK8Kg3K9;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ePs.MyClinicalStudy.Repository.Models.MyClinicalStudyContext, ePs.MyClinicalStudy.Repository" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyClinicalStudyContext-Web.config Connection String">
      <ParameterValue>Data Source=devsql01.eplnet.wan;Initial Catalog=qa_myClinicalStudy_01;Persist Security Info=True;User ID=qamyclinicalstudy01;Password=x4pwqK8Kg3K9;MultipleActiveResultSets=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>